#!/usr/bin/env bash
# Local secrets for homenetwork scan project.
# Source with: source ./env.sh
# Keep this file out of git.

export KUMA_URL="http://linuxpc03:9333"
export KUMA_USERNAME="mwt"
export KUMA_PASSWORD=""
